.footer {
  background-color: #f5f5f5;
  padding: 20px;
}

.images {
  width: 3rem;
  height: auto;
  object-fit: cover;
  /* Align to the right side of the parent container */
  /* Adjust the top position if needed */
}
