header {
  background: var(--gradient-right);
  height: 10vh;
  display: flex;
  align-items: center;
}

header h1 {
  font-family: "Courier New", Courier, monospace;
  -webkit-text-fill-color: white;
}
