header {
  background: linear-gradient(0.25turn, #512da8, #311b92);
  height: 10vh;
  display: flex;
  align-items: center;
}

header h1 {
  font-family: "Courier New", Courier, monospace;
  -webkit-text-fill-color: white;
}
